
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>

<p>
    @Html.ActionLink("New Seat Number", "NewSeatNumber", "SeatNumbers", null, new { @class = "btn btn-primary" })
</p>


<div class="container" style="margin-left: -10px">
    <div class="row">

        <figure>
            <div class="hovereffect ">
                <img class="img-responsive " src="~//file//dracula.jpg" alt="">
                <div class="overlay">
                    <h2>@Html.ActionLink("Preview", "Book1", "BookDetails")</h2>
                   
                </div>
            </div>
        </figure>
        <figure>
            <div class="hovereffect ">
                <img class="img-responsive " src="~//file//a christmas carol.jpg" alt="">
                <div class="overlay">
                    <h2>@Html.ActionLink("Preview", "Book2", "BookDetails")</h2>
                </div>
            </div>
        </figure>
        <figure>
            <div class="hovereffect ">
                <img class="img-responsive " src="~//file//alices.jpg" alt="">
                <div class="overlay">
                    <h2>@Html.ActionLink("Preview", "Book3", "BookDetails")</h2>
                </div>
            </div>
        </figure>
        <figure>
            <div class="hovereffect ">
                <img class="img-responsive " src="~//file//around the world.jpg" alt="">
                <div class="overlay">
                    <h2>@Html.ActionLink("Preview", "Book4", "BookDetails")</h2>
                </div>
            </div>
        </figure>
        
    

    </div>
</div>

<div class="container" style="margin-left: -10px">
    <div class="row">


        <figure>
            <div class="hovereffect ">
                <img class="img-responsive " src="~//file//crime.jpg" alt="">
                <div class="overlay">
                    <h2>@Html.ActionLink("Preview", "Book5", "BookDetails")</h2>

                </div>
            </div>
        </figure>
        <figure>
            <div class="hovereffect ">
                <img class="img-responsive " src="~//file//twocities.jpg" alt="">
                <div class="overlay">
                    <h2>@Html.ActionLink("Preview", "Book6", "BookDetails")</h2>
                </div>
            </div>
        </figure>
        <figure>
            <div class="hovereffect ">
                <img class="img-responsive " src="~//file//fairytale.jpg" alt="">
                <div class="overlay">
                    <h2>@Html.ActionLink("Preview", "Book7", "BookDetails")</h2>
                </div>
            </div>
        </figure>
        <figure>
            <div class="hovereffect ">
                <img class="img-responsive " src="~//file//beyondgood.jpg" alt="">
                <div class="overlay">
                    <h2>@Html.ActionLink("Preview", "Book8", "BookDetails")</h2>
                </div>
            </div>
        </figure>
    </div>
</div>

